.IntroContainer {
  padding: 24px;
  display: flex;

  background-color: rgb(178, 109, 243);
  min-height: 550px;
}
.Content {
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  min-width: 350px;
}

.Image {
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and(max-width: 300px) {
  .Intro {
    display: column;
  }
}
