.About h2 {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.StepSection {
  display: flex;
  padding: 16px;
  justify-content: center;
}

.StepSection .StepTextSection {
  justify-content: end;
  color: black;
  padding: 16px;
}
.StepSection .StepImageSection {
  display: flex;
}
